[Unit]
Description=Prometheus exporter for a Philips Hue system
After=network.target

[Service]
ExecStart=/home/nilsding/hue_exporter/target/release/hue_exporter
EnvironmentFile=/etc/sysconfig/hue_exporter
Type=simple
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
